pre{
  counter-reset: line;
  
}
code{
  counter-increment: line;
  padding-left: 3px;
}



code:before{
  content: counter(line);
  margin-right: 5px;
  padding-right: 5px;
  background-color: lightgrey;
}