
body{
    background-color: rgb(78, 78, 78);
}
.container{
    width: 1000px;
    margin: 0 auto;
    background-color: aqua;
}
.player-area{
    width: 100%;
    height: 200px;
    background-color: rgb(128, 49, 255);
    border: 5px solid black;
}